// register.jade.pug.whatever ~ Copyright 2016 Manchester Makerspace ~ License MIT
// Register users into our access control system
// This html markeddown into Jade/Pug templating language dots are classes and hashes are IDs
// <div> divisions are implicate on instatiating ids or classes
// nesting is pythonic aka actually important
extends ./header.jade

block content
    .app.container
        #register.jumbotron
            h1#indicator Scan New ...
            p Unregistered Member or Point of Access
            #registration
                .form-group
                    label#nameField(for="fullname") Fullname
                    input#name.form-control(type="text" name="Fullname" required="true")
                #monthsField.form-group
                    label(for="months") Renewal amount in months
                    input#months.form-control(type="number" name="monthsField" min="1" max="12")
                .form-group
                    label#accountField(for="acountType") Member type
                    input#account.form-control(type="text" name="accountType")
                button#save.btn.btn-success.btn-lg Register
            span#msg
    script( type="text/javascript" 
            src='https://code.jquery.com/jquery-2.2.4.min.js' 
            integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44='
            crossorigin="anonymous")
    script( type="text/javascript"
            src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
            integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS'
            crossorigin="anonymous")
    script(type="text/javascript" src="js/socketio145.js")
    script(type="text/javascript" src="js/register.js")
