// register.jade.pug.whatever ~ Copyright 2016 Manchester Makerspace ~ License MIT
// Register users into our access control system
// This html markeddown into Jade/Pug templating language dots are classes and hashes are IDs
// <div> divisions are implicate on instatiating ids or classes
// nesting is pythonic aka actually important
extends ./header.jade

block content
    .app.container
        h1#msg Have someone scan a card!
        #findMember.jumbotron.view
            h1 Find a member
            p#findMsg
            .formField
                .form-group
                    label(for=name) Fullname
                    input#findName.form-control(type="text", name="name")
                button.submit.btn.btn-success.btn-lg Find
            #findResult
                h1 Member information
                span Fullname:
                p#nameResult
                span Last Renewal:
                P#renewalResult
                span Can access:
                p#accesspoints
                button#revokeAll.btn.btn-danger.btn-lg.pull-right Revoke all
                button#renew.btn.btn-success.btn-lg.pull-left Renew
        #registerMember.jumbotron.view
            h1 Member signup
            p#memMsg Sign up member:
            .formField
                .form-group
                    label(for="fullname") Fullname
                    input#name.form-control(type="text" name="fullname" required="true")
                .form-group
                    label(for="startDate") Start Time
                    input#startDate.form-control(type="date", min="2016-05-17")
                #monthsField.form-group
                    label(for="months") Renewal amount in months
                    input#months.form-control(type="number" name="monthsField" min="1" max="13")
                .form-group
                    label(for="acountType") Member type
                    input#account.form-control(type="text" name="accountType")
                button.submit.btn.btn-success.btn-lg Register
                button.reject.btn.btn-success.btn-lg.pull-right Reject
        #registerBot.jumbotron.view
            h1 Bot Registration
            p#botMsg Sign up bot:
            .formField
                .form-group
                    label(for="botName") Bot's name
                    input#botName.form-control(type="text" name="botName" required="true")
                .form-group
                    label(for="botType") Type of bot
                    input#botType.form-control(type="text" name="botType" required="true")
                button.submit.btn.btn-success.btn-lg Register
                button.reject.btn.btn-success.btn-lg.pull-right Reject
    script( type="text/javascript" 
            src='https://code.jquery.com/jquery-2.2.4.min.js' 
            integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44='
            crossorigin="anonymous")
    script( type="text/javascript"
            src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
            integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS'
            crossorigin="anonymous")
    script(type="text/javascript" src="js/socketio145.js")
    script(type="text/javascript" src="js/register.js")
